[build]
command = "bash ./build.sh"
publish = "dist/public"

[build.environment]
NODE_VERSION = "20"
NPM_FLAGS = "--legacy-peer-deps"

[functions]
node_bundler = "esbuild"
included_files = ["server/**", "shared/**"]

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/server/:splat"
status = 200
force = true

[[redirects]]
from = "/*"
to = "/index.html"
status = 200